---
layout: default
pagination:
  enabled: true
---
<!-- The main content area -->

<div class="posts">
  <!-- <div class="hero" id="hero"> -->
  <div id="hero-bg">
    <h1 class="hero-header">My name is Andrew Goodridge, I am an aspiring UX designer at SCAD.</h1>
  </div>
  </div> 


  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in paginator.posts %}

        <!-- The tag below includes the markup for each post - partials/post-card.html -->
        {% include post-card.html %}

      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}
</div>
