body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.nav {
    width: 100vw;
    height: 100px;
    display: inline-flex;
}

.navBlock {
    width: 25vw;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navBlock p {
    color: black;
    font-family: sans-serif;
    font-size: 18px;
}

section {
    width: 50vw;
    height: calc(100vh - 100px);
    
}

main {
    display: inline-flex;
    width: 100vw;
}

.container {
    display: flex;
}

.sideCat {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cat {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat p {
    transform: rotate(-90deg);
}

.workList {
    height: 100%;
    width: calc(50vw - 100px);
    display: grid;
}

.workItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workItem {
    text-decoration: none;
}

.workItem p {
    color: black;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}


