.form-group {
    width: 0%;
}

.subscribe {
    margin-bottom: 1.5em;
}

.footer__social {
    margin-bottom: 1.5em;
}

.footer__social a {
    font-size: 2em;
}

.footer__social>:not(:last-child) {
    margin-right: 1.25em;
}